.Bottom {
  width: 100%;
  margin-top: 120px;
}
.Bottom .text {
  text-align: center;
}
.Bottom form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.Bottom form input {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #666666;
  padding: 22px 0px;
  padding-left: 30px;
  background: #e6e6e6;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border: none;
}
.Bottom form a{
    padding: 25px 20px;
    border-radius: 0;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
